$tablet-width: 768px;
$desktop-width: 1300px;

$main-color: #67b738;
$border-color: #d9d9d9;
$light-text-color: white;
$dark-text-color: black;

$page-lr-indent: 20px;

$negative-small-indent: -50px;
$negative-big-indent: calc(#{$negative-small-indent} * 2);


@media (min-width: $tablet-width) {
  $page-lr-indent: 40px;
}

@media (min-width: $desktop-width) {
  $page-lr-indent: 80px;
}
