$tablet-width: 768px;
$desktop-width: 1300px;

:root {
  --main-color: #67b738;
  --border-color: #d9d9d9;
  --light-text-color: white;
  --dark-text-color: black;

  --page-lr-indent: 20px;
}


@media (min-width: $tablet-width) {
  :root {
    --page-lr-indent: 40px;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --page-lr-indent: 80px;
  }
}
