@import 'common/fonts';
@import 'common/variables';
@import 'mixins/reset-list';

@import 'components/list';
@import 'components/link';
@import 'components/buttons';
@import 'components/circle';
@import 'components/social';
@import 'components/author-block';

@import 'components/main';

@import 'components/header';
@import 'components/main-nav';
@import 'components/banner';
@import 'components/programs';
@import 'components/programs-item';
@import 'components/how-it-works';
@import 'components/footer';

@import 'components/catalog';
@import 'components/see-all';
@import 'components/catalog-item';

body {
  font-family: 'Oswald';
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
