.additional-items {
  margin: 0 calc(#{$page-mobile-lr-indent} * -1);
}

.additional-items__body {
  margin-top: 40px;
  width: 100%;
}

.additional-items__list {
  margin: 0 0 40px;
  padding-top: 15px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.additional-items__gift {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23% 22% 14%;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.additional-items__gift-legend {
  //position: absolute;
  //top: 15%;
  //left: 50%;
  //transform: translateX(-50%);
  //width: 145px;
  width: 100%;
  text-align: center;
}

.additional-items__gift-img {
  width: 100%;
  height: auto;
}

.additional-items__gift-icon {
  width: 50px;
  margin-bottom: 50px;
}

.additional-items__gift-text {
  font-size: 16px;
  font-family: "Arial", "Tahoma", sans-serif;
  color: #ffffff;
}

.additional-items__button {
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .additional-items {
    margin: 0 calc(#{$page-tablet-lr-indent} * -1);
  }

  .additional-items__list {
    margin: 0 0 40px;
    padding: 20px 0;
  }

  .additional-items__list-item {
    padding: 0 20px;
  }

  .additional-items__gift {
    padding: 75px 125px 69px 91px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .additional-items__button {
    font-size: 16px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1299px) {
  .additional-items__list {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  .additional-items__gift-legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .additional-items__gift-text {
    width: 165px;
    text-align: left;
  }

  .additional-items__gift-icon {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-items {
    margin: 0 calc(#{$page-desktop-lr-indent} * -1);
  }

  .additional-items__body {
    display: flex;
    margin: 80px 0;
  }

  .additional-items__list {
    flex-grow: 1;
    margin: 0 80px 0 0;
  }

  .additional-items__list-item {
    padding-left: 0;
    padding-right: 0;
  }

  .additional-items__gift {
    width: 245px;
    padding: 65px 43px 43px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .additional-items__gift-img {
    height: 100%;
  }
}

