.additional-product {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.additional-product:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid $border-color;
}

.additional-product__title {
  font-size: 16px;
  margin-bottom: 8px;
  color: $dark-text-color;
  text-transform: uppercase;
}

.additional-product__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.additional-product__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}

.additional-product__info {
  font-family: "Arial", "Tahoma", sans-serif;
  color: $greyish-brown;
}

.additional-product__book {
  font-family: "Oswald", "Arial", "Tahoma", sans-serif;
}

@media (min-width: $tablet-width) {
  .additional-product {
    padding-bottom: 25px;
  }

  .additional-product:not(:last-child) {
    margin-bottom: 22px;
  }

  .additional-product__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .additional-product__body {
    width: auto;
    font-size: 16px;
  }

  .additional-product__title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .additional-product__info:not(:last-child) {
    margin-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    flex-direction: row;
    padding-bottom: 10px;
  }

  .additional-product__content {
    align-items: center;
    margin-right: 30px;
  }

  .additional-product__title,
  .additional-product__body {
    margin-bottom: 0;
  }

  .additional-product__title {
    font-size: 18px;
  }

  .additional-product__body {
    align-items: flex-start;
    width: 45%;
  }

  .additional-product:not(:last-child) {
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
}
