.author-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.author-block__logo {
  width: 40px;
}

@media (min-width: $tablet-width) {
  .author-block {
    width: auto;
  }

  .author-block__text {
    margin-right: 15px;
  }
}
