.button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  background: transparent;
  text-decoration: none;
}

.button--green {
  font-family: "Oswald", "Arial", "Tahoma", sans-serif;
  color: $light-text-color;
  border-color: $main-color;
  background-color: $main-color;
}

.button--gray {
  font-family: "Oswald", "Arial", "Tahoma", sans-serif;
  color: $greyish-brown;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
  }
}
