.catalog-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $page-lr-indent;
  border-bottom: 1px solid $border-color;
}

.catalog-item__details {
  width: 100%;
}

.catalog-item__info {
  display: flex;
  align-items: flex-start;
}

.catalog-item__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.catalog-item__title-text {
  font-weight: 500;
  text-transform: uppercase;
}

.catalog-item__specifications-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
}

.catalog-item__img--tablet,
.catalog-item__img--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  $inner-indent: 30px;
  $items-indent: 5px;

  .catalog-item {
    justify-content: space-between;
    align-items: center;
    padding: 0 $inner-indent $inner-indent;
    width: 45%;
    height: 450px;
    margin-bottom: calc(#{$negative-big-indent} * -1 + 50px);
    background-color: $border-color;
  }

  .catalog-item--no-background {
    background-color: transparent;
  }

  .catalog-item__img-wrapper {
    margin-bottom: 20px;
  }

  .catalog-item__img--mobile {
    display: none;
  }

  .catalog-item__img--tablet {
    display: block;
  }

  .catalog-item__img--small {
    margin-top: $negative-small-indent;
  }

  .catalog-item__img--big {
    margin-top: $negative-big-indent;
  }

  .catalog-item__info {
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }

  .catalog-item__title {
    align-items: center;
  }

  .catalog-item__specifications-item {
    margin-bottom: $items-indent;
    padding-bottom: $items-indent;
    border-bottom: 1px solid black
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 23%;
  }
}
