.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  margin: 0 calc(#{$page-mobile-lr-indent} * -1);
  padding: 20px $page-mobile-lr-indent 30px;
  font-size: 36px;
  font-weight: 400;
  color: $dark-text-color;
  border-bottom: 1px solid $border-color;
}

.catalog__list {
  margin: 0 calc(#{$page-mobile-lr-indent} * -1);
}

.catalog__location {
  margin: 0 calc(#{$page-mobile-lr-indent} * -1);
}

@media (min-width: $tablet-width) {
  .catalog__title {
    margin: 0 0 30px;
    padding: 15px 0 0;
    font-size: 60px;
    border-bottom: none;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 -45px 0;
    padding: calc(#{$negative-big-indent} * -1 + 20px) 0 0;
  }

  .catalog__location {
    margin: 0 calc(#{$page-tablet-lr-indent} * -1);
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding: 7px 0 0;
    margin: 0 0 20px;
    font-size: 54px;
  }

  .catalog__location {
    margin: 0 calc(#{$page-desktop-lr-indent} * -1);
  }

  .catalog__list {
    padding: calc(#{$negative-big-indent} * -1 + 15px) 0 0;
  }
}
