.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  margin: 0 calc(var(--page-lr-indent) * -1);
  padding: 20px var(--page-lr-indent);
  font-size: 36px;
  font-weight: 400;
  border-bottom: 1px solid var(--border-color);
}

.catalog__list {
  margin: 0 calc(var(--page-lr-indent) * -1);
}
