.check {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  width: max-content;

  &:hover .check__box {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.check:not(:last-child) {
  margin-bottom: 12px;
}

.check__box {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #cdcdcd;
}

.check__box--circle {
  border-radius: 50%;
}

.check__box--circle::after {
  overflow: hidden;
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $main-color;
}

.check__input:checked + .check__box {
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.check__input:checked + .check__box--circle {
  background-image: none;
}

.check__input:checked + .check__box--circle::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .check {
    font-size: 20px;
  }

  .check__box {
    width: 40px;
    height: 40px;
  }

  .check__box--circle {
    width: 40px;
    height: 40px;
  }

  .check__box--circle::after {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .check {
    font-size: 18px;
  }

  .check__box {
    width: 35px;
    height: 35px;
    margin-right: 18px;
  }
}
