.fieldset {
  position: relative;
  border-style: groove;
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: $main-color;
}

.fieldset--no-border {
  border: none;
}

.fieldset__body {
  padding: 30px 20px;
}

.fieldset__body--additional {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fieldset__title {
  padding: 0 20px;
  font-size: 24px;
}

.fieldset__title--contacts {
  width: 230px;
  line-height: 1;
}

@media (min-width: $tablet-width) {
  .fieldset {
    padding: 0 $page-tablet-lr-indent;
  }

  .fieldset__title {
    font-size: 36px;
  }

  .fieldset__body {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fieldset__body--additional {
    flex-direction: row;
  }

  .fieldset__body--additional .check {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .fieldset {
    padding: 0 $page-desktop-lr-indent;
  }

  .fieldset__title {
    margin-left: -20px;
    font-size: 36px;
  }

  .fieldset__body {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .fieldset__title--contacts {
    width: auto;
  }

  .fieldset__body--contacts .form-field {
    width: 45%;
  }

  .fieldset__body--additional .check {
    width: 25%;
  }
}
