.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px $page-mobile-lr-indent;
}

.footer--dark {
  background-color: #f2f2f2;
}

.footer__logo {
  width: 150px;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px $page-tablet-lr-indent;
  }

  .footer__social,
  .footer__logo {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 30px $page-desktop-lr-indent;
  }
}
