.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px var(--page-lr-indent);
}

.header--border-btm {
  border-bottom: 1px solid var(--border-color);
}

.header__logo {
  width: 70%;
}
