.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.header__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 11px $page-mobile-lr-indent;
}

.header__logo {
  width: 70%;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__toggle {
  display: none;
  width: 23px;
  height: 18px;
  margin-right: 0;
  border: none;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__toggle--opened {
  display: flex;
  width: 25px;
  height: 25px;
  background-image: url("../../img/icon-close.svg");
}

@media (max-width: $mobile-width-only) {
  .header__logo {
    z-index: 1;
  }

  .header__toggle {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .header {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px $page-tablet-lr-indent;
    border-bottom: none;
  }

  .header__title-block {
    width: auto;
    padding: 0;
  }

  .header__logo {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 50px $page-desktop-lr-indent;
    border-bottom: none;
  }

  .header__logo {
    width: 203px;
    height: 60px;
  }

  .header--overlay-desktop {
    position: absolute;
    z-index: 1;
  }
}
