.main {
  padding: 0 $page-mobile-lr-indent;
}

@media (min-width: $tablet-width) {
  .main {
    padding: 0 $page-tablet-lr-indent;
  }
}

@media (min-width: $desktop-width) {
  .main {
    padding: 0 $page-desktop-lr-indent;
  }
}
