.programs {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.programs__list {
  @include reset-list;
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
