$circle-size: 50px;

.programs-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;
}

.programs-item:not(:last-child) {
  margin-bottom: 20px;
}

.programs-item__header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.programs-item__circle {
  display: flex;
  justify-content: center;
  width: $circle-size;
  height: $circle-size;
  margin-right: $page-mobile-lr-indent;
}

.programs-item__logo {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
}

.programs-item__logo--pro {
  width: calc(#{$circle-size} * 1.3);
}

.programs-item__title {
  font-size: 24px;
  color: $dark-text-color;
  text-transform: uppercase;
}

.programs-item__text {
  margin-bottom: 17px;
  padding-bottom: 20px;
  color: $dark-text-color;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.3;
  border-bottom: 1px solid #d9d9d9;
}

.programs-item__to-details {
  display: flex;
  align-items: center;
  color: $dark-text-color;
  text-transform: uppercase;
}

.programs-item__to-details:hover .programs-item__arrow {
  width: 35px;
}

.programs-item__to-details:active {
  opacity: 0.3;

  .programs-item__arrow {
    width: 35px;
    opacity: 0.3;
  }
}

.programs-item__arrow {
  width: 25px;
  margin-left: 10px;
}

.programs-item__circle--tablet {
  display: none;
}

.programs-item__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .programs-item {
    padding: 60px 55px;
  }

  .programs-item__header {
    margin-bottom: 20px;
  }

  .programs-item__wrapper {
    margin-right: 25px;
  }

  .programs-item__title {
    font-size: 36px;
  }

  .programs-item__text {
    font-size: 16px;
    color: $greyish-brown;
    border-bottom: none;
  }

  .programs-item__to-details {
    font-size: 20px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1299px) {
  $circle-size: 200px;

  .programs {
    margin-bottom: 50px;
  }

  .programs-item__circle {
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 0;
    width: $circle-size;
    height: $circle-size;
  }

  .programs-item__text {
    width: 380px;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  .programs-item__logo--pro {
    width: calc(#{$circle-size} * 1.3);
  }

  .programs-item:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  $circle-size: 90px;

  .programs-item {
    padding: 40px 45px 50px;
    width: 46.5%;
  }

  .programs-item:not(:last-child) {
    margin-bottom: 0;
  }

  .programs-item__header {
    margin-bottom: 40px;
  }

  .programs-item__circle {
    width: $circle-size;
    height: $circle-size;
  }

  .programs-item__title {
    font-size: 32px;
  }

  .programs-item__circle--header {
    display: flex;
  }

  .programs-item__circle--tablet {
    display: none;
  }

  .programs-item__circle--slim {
    margin-right: 57px;
  }

  .programs-item__circle--pro {
    margin-right: 54px;
  }

  .programs-item__logo--slim {
    width: 62px;
    margin-top: -5px;
  }

  .programs-item__logo--pro {
    width: calc(#{$circle-size} * 1.3);
  }

  .programs-item__text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.4;
  }

  .programs-item__to-details {
    font-size: 18px;
  }
}
