.range {
  display: flex;
  align-items: center;
}

.range__rail {
  position: relative;
  display: none;
  height: 6px;
  width: 100%;
  transition: opacity 0.2s;
  border-radius: 10px;
  background: #dcdcdc;
}

.range__circle-control {
  position: absolute;
  display: flex;
  top: -17px;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #cdcdcd;

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    border: 2px solid #68b738;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

.range__circle-control::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #68b738;
}

.range__toggle {
  position: relative;
  flex-grow: 1;
  display: block;
  height: 14px;
  padding: 0 2px;
  border: 1px solid $border-color;
  border-radius: 10px;
}

.range__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 40%;
  height: 70%;
  border-radius: 10px;
  background-color: $main-color;
}

.range__point {
  cursor: pointer;
  font-family: "Oswald", "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: $dark-text-color;
  border: none;
  background-color: transparent;
}

.range__point--start {
  margin-right: 15px;
}

.range__point--end {
  margin-left: 15px;
}

@media (min-width: $tablet-width) {
  .range__rail {
    display: block;
  }

  .range__toggle {
    display: none;
  }

  .range__point {
    font-size: 20px;
    border-bottom: 1px dashed black;

    &:hover {
      border-style: solid;
    }
  }
}
