.see-all__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.see-all__icon {
  width: 30px;
  height: auto;
  margin-bottom: 35px;
}

.see-all__text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.see-all__small-text {
  margin-bottom: 25px;
  font-size: 12px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .see-all {
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid $border-color;
  }

  .see-all__wrapper {
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    padding: 80px 0 0;
  }

  .see-all__text {
    font-size: 20px;
    text-align: center;
  }

  .see-all__small-text {
    font-size: 16px;
    text-align: center;
  }

  .see-all__icon {
    width: 70px;
  }
}
