.social {
  @include reset-list;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  cursor: pointer;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover svg {
    fill: #68b738;
  }

  &:active svg {
    opacity: 0.3;
    fill: #68b738;
  }
}


@media (min-width: $tablet-width) {
  .social {
    width: auto;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .social__link svg {
    width: 35px;
  }
}
